<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}的主页{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/usercenter-info.css"/>
        {% block custom_css %}{% endblock %}

		<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        {% block custom_js %}{% endblock %}

	</head>
	<body>
		<!--
        	内容头部
        -->


		<div class="navbar navbar-inverse" id="top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				    </button>
					<a href="{% url 'index' %}" class="navbar-brand"><b>混搭</b></a>
				</div>
                {% if request.user.is_authenticated %}
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<div class="col-md-1"></div>
					<ul class="nav navbar-nav">
				        <li ><a href="{% url 'index' %}">首页 <span class="sr-only">(current)</span></a></li>
				        <li><a href="#">关于<span class="sr-only">(current)</span> </a></li>
                        	<li><a href="{% url 'user:message' %}">{% if message == 'message' %}有新消息{% else %}消息{% endif %}<span class="sr-only">(current)</span></a></li>
					        <li class="dropdown">
					          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">收藏 <span class="caret"></span></a>
					          <ul class="dropdown-menu">
					            <li><a href="{% url 'user:fav_article' %}">收藏的文章</a></li>
					            <li><a href="{% url 'user:fav_author' %}">收藏的作者</a></li>
					          </ul>
					        </li>
				    </ul>
				    <form id="search_form" class="navbar-form navbar-left" action="{% url 'index' %} " method="get">
				       	<div class="form-group">

				        		<input name="keywords" type="text" class="form-control search" placeholder="搜索">

				        </div>
		      		</form>


                    <ul class="nav navbar-nav navbar-right">
				    	<li class="dropdown">
				        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.nick_name }}<span class="caret"></span></a>
				        	<ul class="dropdown-menu">
					            <li><a href="{% url 'user:user_article' %}">我的主页</a></li>
					            <li><a href="{% url 'user:fav_article' %}">收藏的文章</a></li>
					            <li><a href="{% url 'user:fav_author' %}">喜欢的作者</a></li>
					            <li><a href="{% url 'user:info' %}">设置</a></li>
					            <li><a href="{% url 'user:management' %}">退出用户</a></li>
				          	</ul>
						</li>
				    	<li><a href="{% url 'user:write' %}">写文章</a></li>
				    </ul>
				</div>
               {% else %}
               <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<div class="col-md-1"></div>
					<ul class="nav navbar-nav">
				        <li class="active"><a href="{% url 'index' %}">首页 <span class="sr-only">(current)</span></a></li>
				   </ul>
				   <form id="search_form" class="navbar-form navbar-left" action="{% url 'index' %} " method="get">
				       	<div class="form-group">

				        		<input name="keywords" type="text" class="form-control search" placeholder="搜索">

				        </div>
		      		</form>
		      		<ul class="nav navbar-nav navbar-right">
				        <li><a href="{% url 'login' %}">登录</a></li>
				        <li><a href="{% url 'register' %}">注册</a></li>
				    </ul>
               </div>
				{% endif %}
			</div>
		</div>

		<!--页面内容-->
		<div class="container">
			<div class="row">

				<div class="col-md-offset-1 col-md-8 col-sm-9">


					<div class="TAdetail-list col-md-12 col-sm-12 ">
						<div class="row">
							<div class="people-head col-md-2 col-sm-3  hidden-xs">
								<li><a href="{% url 'author:article' author.id %}" target="_blank"><img src="{{ author.image }}"  class="img-circle"/></a></li>
							</div>
							<div class="people-z col-md-8 col-sm-7 col-xs-9">
								<h1 class="col-md-8 col-sm-8"><a href="{% url 'author:article' author.id %}">{{ author.name }}</a></h1>
								<ul class="col-md-8 col-sm-8">
									<li>加入时间:<span>{{ author.write_time }}</span></li>
									<li>最受欢迎的作品:{% for huan in huan_article %}<<<a href="{% url 'author:articlelist' huan.article.id huan.id %}"><span>{{ huan.name }}</span></a>>>,{% endfor %}</li>
									<li>热点作品:{% for hot in hot_article %}<<<a href="{% url 'author:articlelist' hot.article.id hot.id %}"><span>{{ hot.name }}</span></a>>>,{% endfor %}</li>
								</ul>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-3">
								<div class="btn-group" id="jsRightBtn">
										{% if has_fav %}<button type="button" class="btn btn-default glyphicon glyphicon-plus"><span>&nbsp;已收藏</span></button>
                                        {% else %}<button type="button" class="btn btn-default glyphicon glyphicon-plus"><span>&nbsp;收藏</span></button>
                                        {% endif %}
								</div>
							</div>
						</div>
					</div>



					<div class=" col-md-12 col-sm-12">
			 					<ul class="nav nav-tabs">
									<li class="{% if current_page == 'article' %}active{% endif %}"><a href="{% url 'author:fav_article' author.id %}"><span class="glyphicon glyphicon-list-alt">&nbsp;收藏的文章</span></a></li>
									<li class="{% if current_page == 'author' %}active{% endif %}"><a href="{% url 'author:fav_author' author.id %}"><span class="glyphicon glyphicon-user">&nbsp;喜爱的作者</span></a></li>

								</ul>
			 		</div>
                {% block content %}



                {% endblock %}
			 				<!--
                    	作者：offline
                    	时间：2017-09-25
                    	描述：分页
                    		-->


			 			</div>

			 	<div class="col-md-3 col-sm-3">
					<div class="col-md-12 col-sm-12 hidden-xs">
						<h3>个人介绍</h3>
						<p>{{ author.introduce }}</p>
					</div>
					<div class="nav_custom col-md-12 col-sm-12 hidden-xs">
						<ul class="nav navbar-nav">
				        	<li class="active "><a href="{% url 'author:fav_article' author.id %}"><span class="glyphicon glyphicon-th-large">&nbsp;他关注的文章</span><span class="sr-only">(current)</span></a></li>
				        	<li><a href="{% url 'author:fav_author' author.id %}"><span class="glyphicon glyphicon-heart-empty">&nbsp;他关注的作者</span><span class="sr-only">(current)</span> </a></li>

				    	</ul>
					</div>
				</div>
			 	</div>


			</div>
			<a href="javascript:;" class="totop"></a>
    <script type="text/javascript">




//收藏
function add_fav(current_elem, fav_id, fav_type){
    $.ajax({
        cache: false,
        type: "POST",
        url:"{% url 'author:add_fav' %}",
        data:{'fav_id':fav_id, 'fav_type':fav_type},
        async: true,
        beforeSend:function(xhr, settings){
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        },
        success: function(data) {
            if(data.status == 'fail'){
                if(data.msg == '用户未登录'){
                    window.location.href="/login/";
                }else{
                    alert(data.msg)
                }

            }else if(data.status == 'success'){
                current_elem.text(data.msg)
                window.location.reload()
            }
        },
    });
}
$('#jsLeftBtn').on('click', function(){
    add_fav($(this), 1, 1);
});

$('#jsRightBtn').on('click', function(){
    add_fav($(this), {{ author.id }}, 2);
});

//回到顶部
$(function(){
    $(window).scroll(function(){
        var nowTop=$(document).scrollTop();
        if(nowTop>300){
            $('.totop').show()

        }
        else{
            $('.totop').hide()
        }
    });
    $('.totop').click(function(){
        $('html,body').animate({
            'scrollTop':0,
        })
    })

});


    </script>
	</body>
</html>
