<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>密码找回</title>
		<link rel="stylesheet" type="text/css" href="/static/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
	</head>
	<body>
		<!-- 注册页头部-->
		<div class="sign">
			
			<div class="form-box">
				<h2>密码找回</h2>
				<form action="{% url 'forget_pwd' %}" method="post" id="jsFindPwdForm">
					<div class="form-group marb20 {% if forget_form.errors.email %}errorput{% endif %}">
						<label>邮&nbsp;箱</label>
						<input name="email" id="account_l" type="text" value='{{ forget_form.email.value }}' placeholder="请输入您的邮箱地址" />
					</div>
				
                    <div class="form-group marb8 captcha1 {% if forget_form.errors.captcha %}errorput{% endif %}">
                        <label>验&nbsp;证&nbsp;码</label>
                        {{ forget_form.captcha }}
                    </div>
					<div class="error btns " id="jsForgetTips">{% for key,error in forget_form.errors.items %}{{ error }}{% endfor %}{{ msg }}</div>
 					<div class="auto-box marb8">
                    </div>
                     <input class="btn" id="jsFindPwdForm" type="submit" value="提交 > " />
                    {% csrf_token %}
				</form>
				<p class="form-p">记起密码？<a href="login.html">[立即登录]</a></p>
			</div>
		</div>
	</body>
</html>
