{% extends 'author-fav-base.html' %}
{% block title %}{{ author.name }}收藏的文章{% endblock %}
{% block content %}

{% for fav in fav_article.object_list %}
    <div class="col-md-12 col-sm-12 note-list">
                <div class="content-head col-md-12 col-sm-12">

                    <li><a href="{% url 'author:article' fav.article.id %}" target="_blank"><img src="{{ fav.article.image }}"  class="img-circle"/></a></li>
                    <li><a href="{% url 'author:article' fav.article.id %}" class="fl" target="_blank">{{ fav.article }}</a></li>
                </div>
                <div class="content-z col-md-12 col-sm-12">
                    <div class="content-l col-md-9 col-sm-8 col-xs-12 ">
                        <a class="title" href="{% url 'author:articlelist' fav.article.id fav.id %}" target="_blank">{{ fav.name }}</a>
                        <p>{{ fav.desc }}</p>
                    </div>
                    <div class="content-r col-md-3  col-sm-4 hidden-xs ">
                        <li><a href="{% url 'author:articlelist' fav.article.id fav.id %}" target="_blank"><img class='img-responsive'src="{{ fav.image }}"/>	</a></li>
                    </div>
                </div>
                <div class="content-footer col-md-12 col-sm-12 col-xs-12">
                    <li><span class="glyphicon glyphicon-eye-open"></span><span>&nbsp;{{ fav.click_nums }}</span></li>
                    <li><span class="glyphicon glyphicon-heart-empty"></span><span>&nbsp;{{ fav.fav_nums }}</span></li>
                    <li><span class="glyphicon glyphicon-calendar">{{ fav.add_time }}</span></li>
                    <li><a href="{% url 'author:articlelist' fav.article.id fav.id %}"><span class="glyphicon glyphicon-comment"></span></a><span>&nbsp;{{ fav.get_comments_nums }}</span></li>

                </div>
    </div>
{% endfor %}

    <div class="row col-md-12 col-sm-12 col-xs-12">

        <nav aria-label="Page navigation" style="text-align:center">
          <ul class="pagination">
                {% if fav_article.has_previous %}
                <li class="long"><a href="?{{ fav_article.previous_page_number.querystring }}"
                                    class="long">上一页</a></li>
            {% endif %}
            {% for page in fav_article.pages %}
                {% if page %}
                    {% ifequal page fav_article.number %}
                        <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                    {% else %}
                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                    {% endifequal %}
                {% else %}
                    <li class="none"><a href="">...</a></li>
                {% endif %}
            {% endfor %}
            {% if fav_article.has_next %}
                <li class="long"><a href="?{{ fav_article.next_page_number.querystring }}">下一页</a>
                </li>
            {% endif %}
            </ul>
        </nav>

    </div>
{% endblock %}